# 将内容转成中文

strategies:
  - model: deepseek/deepseek-chat
    prompt_name: translate_cn
    input_format: "{{text}}"
    output_name: translation

  - model: deepseek/deepseek-chat
    prompt_name: comment_cn_trans
    input_format: |
      original text:
      {{text}}
      translation:
      {{translation}}
    output_name: reflection

  - model: deepseek/deepseek-chat
    prompt_name: improved_trans_cn
    input_format: |
      original text:
      {{text}}
      translation:
      {{translation}}
      comments:
      {{reflection}}
    output_name: improvement